@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

label{
  color:#000000;
  font-family: Arial;
  font-size: 15px;
}

#targeta{
  padding: 10%;
}

#tituloLogin{
  color: #000000;
  font-family: fantasy;
  font-size: 30px;
}
 #pregunta{
   color: #00acc1;
   font-family: Arial;
 }

 #wrapper{
   position: absolute;
   min-height: 100%;
   min-width: 100%;

 }

 .valign{
   width: 100%;
 }

.card{
  background-color: #ffffff;
  border-radius: 3px;
  padding: 10px;

}

body {
  font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#claveOlvidada {
   margin-bottom: 5%;
}
